<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="splash-title panel large-centered small-centered
       small-8 large-6 columns">
          <h1 class="splash-title">Welcome to:</h1>
          <img class="panel" src="images/kidcoders.png">
      </div>
    </div>
    <div class="row">
      <% unless signed_in? %>
      <div class="large-6 small-12 columns">
        <div class="panel ">
          <h5 class="text-center"><%= link_to "Sign Up", new_user_registration_path %></h5>
        </div>
      </div>
      <div class="large-6 small-12 columns">
        <div class="panel ">
          <h5 class="text-center"><%= link_to "Sign In", new_user_session_path %></h5>
        </div>
      </div>
      <% end %>
    </div>
    <div class="section-box panel large-centered small-centered
     large-10 small-10 columns">
        <h1 class="splash-body">Come learn to code, and see other users' projects!</h1>
    </div>
  </div>
</div>
