<h1>Our Curricula</h1>
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <% @curricula.each do |curriculum| %>
      <a href="/curricula/<%= curriculum.id %>"><%= curriculum.name %></a>
    <% end %>
  </li>
</ul>
