<h1><%= @curriculum.name %></h1>
<h3>Assignments</h3>
<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <% if @assignments.count > 0 %>
      <% @assignments.each do |assignment| %>
      <div id="assignment-#{assignment.id}" class="content active">
      <%= link_to "#{assignment.title}", assignment_path(assignment) %>
      <% end %>
      </div>
    <% end %>
  </li>
</ul>
