@import url(//fonts.googleapis.com/css?family=Roboto:400,500,300,100,700,900);
html, body {
  background: #FAFAFA; }

.top-bar {
  margin-bottom: 45px;
}

h3 {
  text-align: center;
}

  @charset "UTF-8";
  .accordion-navigation > a:after {
    content: "↡";
    padding-left: 5px;
    float: right;
    font-size: 20px; }
  .accordion-navigation.active > a:after {
    content: "↟"; }
  .card {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    color: #272727;
    border-radius: 2px; }
  .card .title {
    line-height: 3rem;
    font-size: 1.5rem;
    font-weight: 300; }
  .card .content {
    padding: 0.3rem;
    font-weight: 300;
    border-radius: 0 0 2px 2px; }
  .card p {
    margin: 0; }
  .card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 1.3rem; }
  .card a {
    color: #ffab40;
    margin-right: 1.3rem;
    transition: color 0.3s ease;
    text-transform: uppercase;
    text-decoration: none; }
  .card .image {
    position: relative; }
    .card .image .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.3rem;
      color: #fff; }
    .card .image img {
      border-radius: 2px 2px 0 0; }
      .center.row {
    	height: 300px;
    	margin-left: auto;
    	margin-right: auto;
    	margin-top: 5%;
    	max-width: 500px;
    }
  .form {
    border-radius: 2px 2px 0 0;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    left: 20px;
    max-width: 65%;
    position: relative;
    padding: 1.3rem;}
  .form #smallbox {
    border-radius: 5px 5px 2px 2px;
    margin-left: 250px;
    max-width: 35%;
    padding: 1.5rem;}
    .box {
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px 25px;
    display: block;
    margin-top: 60px; }

  .box-icon {
    background-color: #569;
    border-radius: 50%;
    display: table;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    margin-top: -61px;
    font-size: 3rem; }
    .box-icon span {
      color: #fff;
      display: table-cell;
      text-align: center;
      vertical-align: middle; }

  .info h4 {
    font-size: 26px;
    letter-spacing: 2px;
    text-transform: uppercase; }
  .info p {
    color: #717171;
    font-size: 16px;
    padding-top: 10px; }
  .info a {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.5s ease 0s; }
    .info a:hover {
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.12);
      transition: all 0.5s ease 0s; }
